<h1 id="tableLabel">Query user</h1>

<p>Load the 10 last posts and determine if they are reposts or not</p>

<form *ngIf="!isFetching">
  <input type="text" [(ngModel)]="username" name="username" />
  <button type="submit" (click)="onSubmit()">Submit</button>
</form>

<h2 *ngIf="isFetching" class="loading">Fetching</h2>



<div *ngIf="posts != null && !isFetching">
  <hr />
  <h2>Query for {{this.lastUsername}}:</h2>
  <h3>Posts (last {{posts.length}})</h3>
  <table class="table table-striped resultContainer" aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Post</th>
        <th class="repostColumn">Is repost?</th>
        <th>Original post</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>
          <a href="{{ post.url }}" target="_blank">{{ post.url }}</a>
        </td>
        <td>
          {{ post.originalUrl == null ? "no" : "yes" }}
        </td>
        <td>
          <a href="{{ post.originalUrl }}" target="_blank">{{ post.originalUrl }}</a>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Comments (last {{comments.length}})</h3>
  <table class="table table-striped resultContainer" aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Comment</th>
        <th class="repostColumn">Is repost?</th>
        <th>Original comment</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comment of comments">
      <td>
        <a href="{{comment.url}}" target="_blank">{{ comment.url }}</a>
      </td>
      <td>
        {{ comment.originalUrl == null ? "no" : "yes" }}
      </td>
      <td>
        <a href="{{comment.url}}" target="_blank">{{ comment.originalUrl }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
